{{> header }}
<style>
  .centered {
    padding: 1%;
    align-self: center;
    display: flex;
  }
</style>
<main role="main" class="inner cover">
  <h1 class="cover-heading jumbotron bg-warning container">{{title}}</h1>
  <p class="lead container">
    Guild Builder for [lemon]GRAFT
  </p>
  <h1>{{lat}}</h1>
   <h1>{{lon}}</h1>
</main>
{{> footer }}