{{> header }}
<style>
    .centered {
        padding: 1%;
        align-self: center;
        display: flex;
    }
    </style>
  <main role="main" class="inner cover">
    <h1 class="cover-heading jumbotron bg-warning container">{{title}}</h1>
    <p class="lead container"> 
        Simple Market is an experiment in creating a global comunity run marketplace
    </p>
  </main>
{{> footer }}