{{> header }}
<style>
    .centered {
        padding: 1%;
        align-self: center;
        display: flex;
    }
    </style>
  <main role="main" class="inner cover">
    <h1 class="cover-heading jumbotron bg-warning container">{{title}}</h1>
    <p class="lead container"> [lemon]GRAFT is a company dedicated to building sustainable farming software that affects peoples lives in a very real way.
    </p>
    <a href="#" class=" centered lead btn btn-lg btn-secondary container">Learn more</a>
  </main>
{{> footer }}