{{> header }}
<style>
    .centered {
        padding: 1%;
        align-self: center;
        display: flex;
    }
    button {
      margin: 1%;
    }
    </style>
<h1 class="cover-heading jumbotron bg-warning container">{{title}}</h1>

{{#if errors}}
    {{#each errors}}
        <div>{{this.msg}}</div>
    {{/each}}
{{/if}}

<div class="container">
<form action="/tfa" method="post">
    <div class="form-group">
        <label for="tfa">Enter the code that you were sent</label>
        <input type="text" class="form-control" name="tfa"
            placeholder="Enter Username">
    <button type="submit" class=" justify-content-center centered lead btn btn-lg btn-secondary container">Submit</button>
 </form>
</div>
{{> footer-end }}